@media(max-width:900px){


.hero{

flex-direction:column;

}



.hero h1{

font-size:35px;

}



.articles-grid{

grid-template-columns:repeat(2,1fr);

}



.category-grid{

grid-template-columns:repeat(2,1fr);

}



}



@media(max-width:600px){


nav ul{

display:none;

}



.articles-grid{

grid-template-columns:1fr;

}



.category-grid{

grid-template-columns:1fr;

}



.container{

width:95%;

}


}