@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');


:root{

--primary:#2563eb;
--dark:#111827;
--light:#ffffff;
--gray:#6b7280;

}



*{

margin:0;
padding:0;
box-sizing:border-box;

}



body{

font-family:'Inter',sans-serif;
background:#fff;
color:#111827;

}



img{

max-width:100%;
display:block;

}



a{

text-decoration:none;
color:inherit;

}



.container{

width:90%;
max-width:1200px;
margin:auto;
padding:50px 0;

}



/* HEADER */


header{

background:var(--dark);
color:white;
padding:20px 5%;

}


.navbar{

display:flex;
justify-content:space-between;
align-items:center;

}



.logo{

font-size:28px;
font-weight:800;

}



nav ul{

display:flex;
gap:25px;
list-style:none;

}



nav a:hover{

color:#60a5fa;

}




/* HERO */


.hero{

display:flex;
align-items:center;
gap:40px;
padding:70px 5%;

}


.hero-content{

flex:1;

}


.hero h1{

font-size:48px;
line-height:1.1;
margin:20px 0;

}



.hero p{

color:var(--gray);
font-size:18px;

}



.category{

color:var(--primary);
font-weight:700;

}



.hero-image{

flex:1;

}



.hero-image img{

border-radius:20px;

}



.btn{

display:inline-block;
margin-top:25px;
background:var(--primary);
color:white;
padding:14px 30px;
border-radius:30px;

}




/* ARTICLES */


.articles-grid{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:25px;

}



.card{

border-radius:15px;
overflow:hidden;
background:white;
box-shadow:0 10px 30px #0001;

}


.card img{

height:220px;
width:100%;
object-fit:cover;

}


.card-content{

padding:20px;

}


.card h3{

margin:10px 0;

}




/* CATEGORY */


.category-grid{

display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;

}



.category-grid a{

padding:30px;
background:#f3f4f6;
text-align:center;
border-radius:15px;
font-weight:bold;

}



/* NEWSLETTER */


.newsletter{

background:#111827;
color:white;
padding:60px 5%;
text-align:center;

}



.newsletter input{

padding:15px;
border-radius:8px;
border:none;

}


.newsletter button{

padding:15px 25px;
background:#2563eb;
color:white;
border:none;
border-radius:8px;

}



/* FOOTER */


footer{

background:#030712;
color:white;
text-align:center;
padding:30px;

}
.dark{

background:#0f172a;
color:white;

}


.dark .card{

background:#1e293b;

}


.dark .category-grid a{

background:#1e293b;
color:white;

}


.dark header{

background:#020617;

}
.article-page{

width:90%;
max-width:900px;
margin:auto;
padding:50px 0;

}


.article-cover{

width:100%;
border-radius:20px;

}


.article-info{

margin:30px 0;

}


.article-info h1{

font-size:45px;
margin:20px 0;

}


.article-text{

font-size:18px;
line-height:1.8;

}


.toc{

background:#f3f4f6;
padding:20px;
border-radius:15px;
margin:30px 0;

}



.ad-box{

height:120px;
background:#eee;
display:flex;
align-items:center;
justify-content:center;
margin:40px 0;
color:#777;

}


.share{

margin:40px 0;

}